.start-design {
    background: #8D0011;
    padding: 0px;
    margin: 0px 20px 20px 20px;
    border-radius: 20px;
    position: relative;
    height: 220px;
    width: 80%;
  }

.ueberschrift{
    color: white;
    display: block;
    font-family: sans-serif;
    visibility: visible;
    margin: 5px 15px;
    font-size: 1.5em;
    padding: 10px 0px 0px;
}
    
div{
    background-color: rgb(255, 255, 255);
    display: block;
    font-family: sans-serif;
    visibility: visible;   
}
textarea {
    background: #8D0011;
    color: white;
    border: 1px rgb(255, 255, 255) solid;
    margin: 15px;
    height: 120px;
    width: 94%;
    border-radius: 10px;
    font-size: 1em;
}
#save-button {
    background: #8D0011;
    right: 50px; bottom: 8px;
    position: absolute;
    border: 1px white solid;
    color: white;
    border-radius: 5px;
}